[submodule "External/Glfw/glfw"]
	path = External/Glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/Glad/glad"]
	path = External/Glad/glad
	url = https://github.com/Dav1dde/glad
[submodule "External/ImGui/imgui"]
	path = External/ImGui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/ImGuizmo/ImGuizmo"]
	path = External/ImGuizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "External/ImGuiNodeEditor/imgui-node-editor"]
	path = External/ImGuiNodeEditor/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "External/YamlCpp/yaml-cpp"]
	path = External/YamlCpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "External/Assimp/assimp"]
	path = External/Assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/Box2D/box2d"]
	path = External/Box2D/box2d
	url = https://github.com/erincatto/box2d
[submodule "External/Tracy/tracy"]
	path = External/Tracy/tracy
	url = https://github.com/wolfpld/tracy
[submodule "External/NfdExtended/nativefiledialog-extended"]
	path = External/NfdExtended/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "External/Entt/entt"]
	path = External/Entt/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/Spdlog/spdlog"]
	path = External/Spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/Glm/glm"]
	path = External/Glm/glm
	url = https://github.com/g-truc/glm.git
