# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
**/*.obj

# Precompiled Headers
*.gch
*.pch
**/*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
**/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#.vs

**/.vs
**/CMakeFiles

# Ignore docs for now
**/docs/*.css
**/docs/*.scss
**/docs/*.html
**/docs/*.dox
**/docs/*.dox
**/glfw/examples
**/glfw/tests

**/External/bin
**/External/*bin-int*
**/out
**/External/**/build*
**/External/*build*
**/*.vcxproj*
External/**/*.vcx*
External/**/*.vcxproj

**/*.sln
**/*.ini

**/*.log
**/.idea
**/*.swp

# LkEngine Binaries and Object files
Binaries
Binaries-Int
Intermediate

**/*.tlog

# Ignore lkconf files as they should be generated locally and saved there.
**/*.lkconf
**/*/*pycache*

# Runtime directories.
LkRuntime/Projects
