# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
**/*.obj

# Precompiled Headers
*.gch
*.pch
**/*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
**/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#.vs

**/.vs
**/CMakeFiles

# Ignore docs for now
**/docs
**/docs/*.css
**/docs/*.scss
**/docs/*.html
**/docs/*.dox
**/docs/*.dox
# Ignore GLFW examples and tests
**/GLFW/examples
**/GLFW/examples
**/glfw/tests
**/glfw/tests

**/bin
**/*bin-int*
**/out
**/out/*
**/build*
**/*build*
**/*.vcxproj*

**/*.sln
**/*.ini

**/*.log
**/.idea
**/*.swp

# LkEngine Binaries and Object files
**/Binaries
**/Binaries-Int
**/Intermediate

