# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
**/*.obj

# Precompiled Headers
*.gch
*.pch
**/*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
**/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.vs
**/*.vcxproj*
**/CMakeFiles
**/*.sln
**/*.ini
**/*.log
**/.idea
**/*.swp
**/*.tlog


# -- LkEngine --
Binaries
Binaries-Int
Intermediate
**/External/bin
**/External/*bin-int*
**/External/**/build*
**/External/*build*
External/**/*.vcx*
External/**/*.vcxproj
External/Glm/**/test
External/Glad/include
External/Glad/src
External/**/examples
External/**/tests

Docs/Doxygen
LkEngine/Test/Logs

# Ignore lkconf files as they should be generated locally and saved there.
**/*.lkconf
**/*/*pycache*

# Runtime directories.
LkRuntime/Projects

# Ignore docs for now
**/docs/*.css
**/docs/*.scss
**/docs/*.html
**/docs/*.dox
**/docs/*.dox
